<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>소스제어는을 통해 제어하고  1<%= title %> 지속적인 소스통합(CI))</p>
  </body>
</html>
